{% extends 'main.html' %}

{% block content %}

<div class="news-content">
    <div class="news-head">
        <h1>NEWS TODAY</h1>
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/wRo9ksh2heo?si=9dG4AI2BHO_BEG7t"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="video-name">
        <h3>BATTLEGROUNDS MOBILE INDIA SERIES 2024: League Stages | Official Trailer</h3>
    </div>
    <div class="video-link">
        <a href="https://youtu.be/wRo9ksh2heo?si=Ln1rO2U_RB96ZePx">Click Here to Watch Video</a>
         
    </div>
</div>

{% endblock content %}